@{
    ViewBag.Title = "Home Page";
}
<!-- Preloader -->
@*<div id="preloader">
    <div id="status">&nbsp;</div>
</div>*@

<!-- End Preloader -->   
<!-- start slider section -->
<section id="sliderSection">
    <div class="mainslider_area">
        <!-- Start super slider -->
        <div id="slides">
            <ul class="slides-container">
                <!-- Start single slider-->
                <li>
                    <img src="~/Content/img/slider/1.jpg" alt="img">
                    <div class="slider_caption">
                        <h2><span>Welcome To</span> WpF Bgness</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search</p>
                        <a class="slider_btn" href="#">Read More</a>
                    </div>
                </li>
                <!-- Start single slider-->
                <li>
                    <img src="~/Content/img/slider/3.jpg" alt="img">
                    <div class="slider_caption">
                        <h2>Beautiful <span>Clear and Flexible</span></h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search</p>
                        <a class="slider_btn" href="#">Read More</a>
                    </div>
                </li>
                <!-- Start single slider-->
                <li>
                    <img src="~/Content/img/slider/2.jpg" alt="img">
                    <div class="slider_caption">
                        <h2><span>Beausiness</span> & Corporate</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search</p>
                        <a class="slider_btn" href="#">Read More</a>
                    </div>
                </li>
            </ul>
            <nav class="slides-navigation">
                <a href="#" class="next"></a>
                <a href="#" class="prev"></a>
            </nav>
        </div>
    </div>
   
</section>
<!-- Start Service area -->
<section id="service">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="service_area">
                <div class="service_title">
                    <hr>
                    <h2>Wpf Bgness </h2>
                    <p>Trusted by Fortune 500 retailers and the world’s top brands.</p>
                </div>
                <ul class="service_nav wow flipInX">
                    <li>
                        <a class="service_icon" href="#"><i class="fa fa-users"></i></a>
                        <h2>An almost infinite number of project complete</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <a class="read_more" href="#">read more<i class="fa fa-long-arrow-right"></i></a>
                    </li>
                    <li>
                        <a class="service_icon" href="#"><i class="fa fa-gears"></i></a>
                        <h2>Efficient Workflow</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <a class="read_more" href="#">read more<i class="fa fa-long-arrow-right"></i></a>
                    </li>
                    <li>
                        <a class="service_icon" href="#"><i class="fa fa-support"></i></a>
                        <h2>Extraordinary Support</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <a class="read_more" href="#">read more<i class="fa fa-long-arrow-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Service area -->

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@